<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Calendar</title>
		<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
	</head>
	<body>
		<div class="top-bar">
			<div class="top-bar-left">
				<ul class="menu">
					<h5><li class="menu-text">Calendar</li></h5>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li><a href="#">Day</a></li>
					<li><a href="#">Month</a></li>
					<li><a href="#">Sign in</a></li>
				</ul>
			</div>
		</div>
		<br><br>
		<div class="row medium-8 large-7 columns">
			<%= month_calendar(attribute: :starts_at) do |date| %>
			  <%= date %>
			<% end %>
		</div>

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
		<script>
		      $(document).foundation();
		    </script>
	</body>
</html>

