<div class="top-bar-left"  style="padding-left: 5px">
	<div class="top-bar-title">
		<h3 class="menu-text font-weight-300"><%= link_to "Calendar", root_path %></h3>
	</div>
</div>
<div class="top-bar-right">
	<ul class="menu">
		
	</ul>
</div>