<div class="top-bar-left"  style="padding-left: 5px">
	<div class="top-bar-title">
		<h3 class="menu-text">Calendar</h3>
	</div>
</div>
<div class="top-bar-right">
	<ul class="menu">
		<li style="padding-top: 15px; padding-left: 15px"><h6><%= link_to "All events", all_meetings_path %></h6></li>
		<li style="padding-top: 15px; padding-left: 15px"><h6><%= link_to "My events", meetings_path %></h6></li>
	</ul>
</div>