<div class="top-bar-left">
  <ul class="menu">
    <h5><li class="menu-text">Calendar</li></h5>
  </ul>
</div>
<div class="top-bar-right">
  <ul class="menu">
    <li><a href="#">Day</a></li>
    <li><a href="#">Month</a></li>
  </ul>
</div>